apiVersion: apps/v1
kind: Deployment
metadata:
  name: forum-app-deployment
  namespace: forum
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: forum-app
  template:
    metadata:
      labels:
        app: forum-app
    spec:
      containers:
        - name: forum-app
          image: lucasferraz95/forum-backend:1.0.0
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_URL
              value: "jdbc:postgresql://postgres:5432/forum"
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: POSTGRES_USER
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: POSTGRES_PASSWORD
